
<%- include('common/head.ejs') %>
<h1 class="text-center"><%= title %></h1>
<p class="text-center">Welcome to <%= title %></p>
<div class="text-center">
    <span class="glyphicon glyphicon-ok color-success"></span>
    <span class="color-success"><%= text %></span>
</div>
<%- include('common/footer') %>
