
<%- include('common/head.ejs') %>
<h1 class="text-center"><%= title %></h1>
<p class="text-center">Welcome to <%= title %></p>
<div class="text-center">
    <span>收件箱(<%= num %>)</span>
</div>
<%- include('common/footer') %>
